@model Workwise.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Register";
}
<div class="col-lg-6">
    <div class="login-sec">
        <ul class="sign-control">
            <li data-tab="tab-1">@Html.ActionLink("Sign in", "Login", "Account")</li>
            <li data-tab="tab-2" class="current">@Html.ActionLink("Sign up", "Register", "Account")</a></li>
        </ul>

        <div class="sign_in_sec current " id="tab-2">
            <div class="signup-tab">
                <i class="fa fa-long-arrow-left"></i>
                <h2>alameenboss@example.com</h2>
                <ul>
                    <li data-tab="tab-3" class="current"><a href="/Login/?username=&amp;password=#" title="">User</a></li>
                    <li data-tab="tab-4"><a href="/Login/?username=&amp;password=#" title="">Company</a></li>
                </ul>
            </div><!--signup-tab end-->
            <div class="dff-tab current" id="tab-3">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @*<input type="text" name="name" placeholder="Full Name">*@
                                @Html.TextBoxFor(m => m.Username, new { placeholder = "User Name" })
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        @*<div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <input type="text" name="country" placeholder="Country">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>*@
                        @*<div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <select>
                                    <option>Category</option>
                                    <option>Category 1</option>
                                    <option>Category 2</option>
                                    <option>Category 3</option>
                                    <option>Category 4</option>
                                </select>
                                <i class="fa fa-dropbox"></i>
                                <span><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                        </div>*@
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @*<input type="text" name="country" placeholder="Country">*@
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Id" })
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @*<input type="password" name="password" placeholder="Password">*@
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @*<input type="password" name="repeat-password" placeholder="Repeat Password">*@
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Repeat Password" })
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="checky-sec st2">
                                <div class="fgt-sec">
                                    <input type="checkbox" name="cc" id="c2">
                                    <label for="c2">
                                        <span></span>
                                    </label>
                                    <small>Yes, I understand and agree to the workwise Terms &amp; Conditions.</small>
                                </div><!--fgt-sec end-->
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <button type="submit" value="submit">Get Started</button>
                        </div>
                    </div>
                }
            </div><!--dff-tab end-->
            <div class="dff-tab" id="tab-4">
                <form>
                    <div class="row">
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <input type="text" name="company-name" placeholder="Company Name">
                                <i class="fa fa-building"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <input type="text" name="country" placeholder="Country">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <input type="password" name="password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                <input type="password" name="repeat-password" placeholder="Repeat Password">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="checky-sec st2">
                                <div class="fgt-sec">
                                    <input type="checkbox" name="cc" id="c3">
                                    <label for="c3">
                                        <span></span>
                                    </label>
                                    <small>Yes, I understand and agree to the workwise Terms &amp; Conditions.</small>
                                </div><!--fgt-sec end-->
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <button type="submit" value="submit">Get Started</button>
                        </div>
                    </div>
                </form>
            </div><!--dff-tab end-->
        </div>


    </div><!--login-sec end-->
</div>
