@model Workwise.ViewModel.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="col-lg-6">
    <div class="login-sec">
        <div class="sign_in_sec current ">
            <div class="dff-tab current">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Reset your password.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="row">
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Id" })
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <div class="sn-field">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Repeat Password" })
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 no-pdd">
                            <button type="submit" value="submit">Reset</button>
                        </div>
                    </div>
                }
            </div><!--dff-tab end-->
        </div>
    </div><!--login-sec end-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
