@using Workwise.Model;
@using Microsoft.AspNet.Identity;
@model  List<UserSearchResult>

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <div class="user-pro-img">
                <img src="@ViewBag.Image">
            </div>
            <h3>@ViewBag.Text</h3>
        </div><!--company-title end-->

        <div class="companies-list">
            <div class="row">
                @foreach (var user in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="@user.UserInfo.ImageUrl" alt="">
                                <h3>@user.UserInfo.FirstName</h3>
                                <h4>@user.UserInfo.Designation</h4>
                                <ul>
                                    <li><a href="#" title="" class="follow" data-user-id="@user.UserInfo.UserId">@user.FriendRequestStatus</a></li>
                                    <li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#" title="" class="hire-us">Hire</a></li>
                                </ul>
                            </div>
                            <a href="/MyProfileFeed/Index/@user.UserInfo.UserId" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                }

            </div>
        </div><!--companies-list end-->

    </div>
</section><!--companies-info end-->
