@using Workwise.ViewModel;
@using Microsoft.AspNet.Identity;
@model UserProfileViewModel
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="@SessionHelper.UserImage" alt="">
                                        </div>
                                    </div><!--username-dt end-->
                                    <div class="user-specs">
                                        <h3>@SessionHelper.UserName</h3>
                                        <span>Software Engineer</span>
                                    </div>
                                </div><!--user-profile end-->
                                <ul class="user-fw-status">
                                    <li>
                                        <a href="/profiles/Following"><h4>Following</h4></a>
                                        <span>@Model.Following.Count</span>
                                    </li>
                                    <li>
                                        <a href="/profiles/Followers"><h4>Followers</h4></a>
                                        <span>@Model.Followers.Count</span>
                                    </li>
                                    <li>
                                        <a href="/MyProfileFeed/" title="">View Profile</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->
                            <div class="suggestions full-width">
                                <div class="sd-title">
                                    <h3>Suggestions</h3>
                                    <i class="fa fa-ellipsis-v"></i>
                                </div><!--sd-title end-->
                                <div class="suggestions-list">
                                
                                    @Html.Action("SuggestedUser")
                                     <div class="view-more">
                                        <a href="#" title="">View More</a>
                                    </div>
                                </div><!--suggestions-list end-->
                            </div><!--suggestions end-->
                            <div class="tags-sec full-width" style="display:none">
                                <ul>
                                    <li>
                                        <a href="#" title="">Help Center</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">About</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Community Guidelines</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Cookies Policy</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Career</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Language</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Copyright Policy</a>
                                    </li>
                                </ul>
                                <div class="cp-sec">
                                    <img src="/images/logo2.png" alt="">
                                    <p>
                                        <img src="/images/cp.png" alt="">Copyright 2019
                                    </p>
                                </div>
                            </div><!--tags-sec end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            @Html.Partial("_CreatePost")
                            <div class="posts-section">
                                @Html.Action("TopProfiles")

                                @*@Html.Action("GetPosts", "Index")
                                  @Html.Action("GetPosts", "Index")*@
                                @if (Model.Posts != null)
                                {
                                    foreach (var post in Model.Posts)
                                    {
                                        @Html.Partial(@"~\Views\Index\_PostDetail.cshtml", post)
                                    }
                                }


                            </div><!--posts-section end-->
                        </div><!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            <div class="widget widget-about" style="display:none">
                                <img src="/images/wd-logo.png" alt="">
                                <h3>Track Time on Friend.ly</h3>
                                <span>Pay only for the Hours worked</span>
                                <div class="sign_link">
                                    <h3>
                                        <a href="/Login/" title="">Sign up</a>
                                    </h3>
                                    <a href="#" title="">Learn More</a>
                                </div>
                            </div><!--widget-about end-->
                            <div class="widget widget-jobs" style="display:none">
                                <div class="sd-title">
                                    <h3>Top Jobs</h3>
                                    <i class="fa fa-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior PHP Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Developer Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                </div><!--jobs-list end-->
                            </div><!--widget-jobs end-->
                            <div class="widget widget-jobs" style="display:none">
                                <div class="sd-title">
                                    <h3>Most Viewed This Week</h3>
                                    <i class="fa fa-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div><!--job-info end-->
                                </div><!--jobs-list end-->
                            </div><!--widget-jobs end-->
                            <div class="widget suggestions full-width">
                                <div class="sd-title">
                                    <h3>Most Viewed People</h3>
                                    <i class="fa fa-ellipsis-v"></i>
                                </div><!--sd-title end-->
                                <div class="suggestions-list">
                                    @Html.Action("SuggestedUser")
                                    <div class="view-more">
                                        <a href="#" title="">View More</a>
                                    </div>
                                </div><!--suggestions-list end-->
                            </div>
                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>


@Html.Partial("_PostProjectPopup",new PostViewModel())
@Html.Partial("_PostJobPopup")
@Html.Partial("_ChatListbox")


<script>
    $(function () {
        $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            //alert("near bottom!");
            $('.spinner').show();
            $.ajax({
                url: '/Index/GetPosts',
                method: 'GET',
                success: function (response) {// success callback function
                    $('.posts-section').append(response);
                    $('.spinner').hide
                }
            });
        }
        });
    });
</script>